* {
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  gap: 2rem;
}
div {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem hsl(180, 3%, 65%);
  padding: 1rem;
  text-align: center;
  width: 95%;
  max-width: 20rem;
  /* The card will resize up to a width of 20rem */
}
img {
  width: 100%;
  border-radius: 0.6875rem;
}
h1 {
  font-size: 1.375rem;
  letter-spacing: 0;
  line-height: 120%;
  color: hsl(218, 44%, 22%);
  padding: 0 1rem;
  margin: 1rem 0 0.5rem;
}
p {
  font-size: 0.935rem;
  letter-spacing: 0.2px;
  line-height: 140%;
  color: hsl(216, 15%, 48%);
  margin: 1rem 0.875rem 1.5rem 0.875rem;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}